---
import FormattedDate from "~/components/FormattedDate.astro";
import "~/components/Card.css";
import Tag from "~/components/Tag.astro";
import { type TAbstractPost } from "~/services/post";

type Props = TAbstractPost;

const { title, extract, date, coverImage, tags, slug } = Astro.props;
---

<div class="Card">
  <div class="info">
    <div class="cover-image">
      <a href={`/blog/${slug}/`}>
        {coverImage.url && <img src={coverImage.url} alt={title} />}
      </a>
    </div>
    <div class="metadata">
      <div class="tags">
        {tags.map((tag: string) => <Tag tag={tag} />)}
      </div>
      <div class="date">
        <FormattedDate date={new Date(date)} />
      </div>
    </div>
  </div>
  <div class="content">
    <a href={`/blog/${slug}/`}>
      <h3 class="title">{title}</h3>
    </a>
    <div class="description">{extract.substring(0, 250)}...</div>
  </div>
</div>
