---
import '~/components/Hero.css'
import Button from '~/components/Button.astro'
import Title from './Title.astro';

interface CallToAction {
    label: string;
    href: string;
}

interface Props {
    title: string;
    subtitle: string;
    callToActions: CallToAction[];
}

const { title, subtitle, callToActions } = Astro.props;

---

<section class="Hero">
  <div class="container">
    <iframe
      id="youtubeVideo"
      width="100%"
      src="https://www.youtube.com/embed/UnQ8NSXYXao?autoplay=1&mute=1"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>

  <div class="overlay">
    <div class="content">
      <Title title={title} />
      <p>{subtitle}</p>
      <div class="call-to-actions">
          {callToActions.map((callToAction) => <Button label={callToAction.label} href={callToAction.href} />)}
      </div>
    </div>
    <button class="floating-btn">
      <span class="arrow">&#8595;</span> <!-- Down arrow symbol -->
    </button>
  </div>
</section>

<script>
  const button = document.querySelector('button.floating-btn');
  button?.addEventListener('click', () => {
    const targetSection = document.getElementById('last-watched');
    if (targetSection) {
      targetSection.scrollIntoView({ behavior: 'smooth' });
    }
  });

  // Set iframe height to viewport height
  const iframe = document.getElementById('youtubeVideo');
  if (iframe) {
    iframe.style.height = `${window.innerHeight}px`;
  }

  // Optionally, update height on window resize
  window.addEventListener('resize', () => {
    if (iframe) {
      iframe.style.height = `${window.innerHeight}px`;
    }
  });
</script>
