---
import "~/components/Reel.css";
interface Props {
  url: string;
  href: string;
  title: string;
  watchedDate: string;
  album?: string;
  vote_average?: number;
  vote_count?: number;
  artist?: string;
  type: "movie" | "song";
}
const {
  url,
  title,
  watchedDate,
  href,
  vote_average,
  vote_count,
  album,
  type,
  artist,
} = Astro.props;

const missingThumbnail =
  type === "movie"
    ? "https://placeholder.pics/svg/178x278/DEDEDE/555555/No%20Poster%20found"
    : "https://placeholder.pics/svg/185x185/DEDEDE/555555/no%20cover%20found";
---

<div class:list={["Reel", type]}>
  <a href={href} target="_blank">
    <div class="thumbnail">
      <img
        src={url !== ""
          ? url
          : missingThumbnail}
        alt={title}
      />
    </div>
  </a>
  <div class="info">
    <h3 class="title">{title}</h3>
    {artist && <p>By {artist}</p>}
    {album && <p>Album:{album} </p>}
    {vote_average && <p>Vote Avetage:{vote_average} </p>}
    {vote_count && <p>Vote Count: {vote_count}</p>}
    <p>
      {album ? "Listen" : "Watched"} on: {
        new Date(watchedDate).toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </p>
  </div>
</div>
