---
import BaseHead from "~/components/BaseHead.astro";
import Card from "~/components/Card.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import Title from "~/components/Title.astro";
import BlogSearch from "~/components/BlogSearch.astro";
import '~/layouts/Blog.css'
import { SITE_DESCRIPTION, SITE_TITLE } from "~/consts";

const { category, posts, lang = "it" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={`Category: ${category || 'Blog'} | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
	<Header />
		<main>
			<section class="Blog">
				<Title title={`Category: ${category}` || 'Blog'} />
				<BlogSearch />
				<div class="cards-grid">
					{
						posts.map((post:any) => (
								<Card {...post} slug={post.slug} lang={lang} />
						))
					}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
