---
import { ViewTransitions } from "astro:transitions";
import clsx from "clsx";

import "normalize.css";
import "sakura.css";
import "@fontsource/staatliches/400.css";
import "@fontsource/merriweather";
import "../styles/global.css";
import { defaultTheme } from "../styles/defaultTheme.css";
import SEO, { type Props as ISeo } from "../components/SEO/SEO.astro";
import { headerStyle, layoutStyles } from "./Layout.css";
import { Box, MenuLink, Typography } from "../components";

interface Props {
  seo: ISeo;
  pathname?: string;
}

const { pathname } = Astro.url;
const { seo: seoData } = Astro.props;
const currentYear = new Date().getFullYear();
---

<html lang="en" class={clsx(defaultTheme)}>
  <head>
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="valerionarcisi.me"
      src="https://plausible.io/js/script.js"></script>
    <ViewTransitions />
    <SEO
      title={seoData?.title || "Valerio Narcisi"}
      description={seoData?.description ||
        "Valerio Narcisi - Web Developer, Director and Screenwriter"}
      name={seoData?.name || "Valerio Narcisi"}
      type={seoData?.type || "website"}
      image={seoData?.image ||
        "https://media.graphassets.com/output=format:jpg/resize=width:250/11v3vMf8QMziD5ZAv6zY"}
    />
  </head>
  <Box as="body">
    <Box as="header" className={clsx(headerStyle)}>
      <MenuLink href="/" active={pathname === "/"}> HOME </MenuLink>
      <MenuLink
        href="/blog"
        active={pathname?.includes("/post") ||
          pathname?.includes("/blog") ||
          false}
      >
        BLOG
      </MenuLink>
      <MenuLink href="/about" active={pathname === "/about"}>
        About me
      </MenuLink>
    </Box>
    <Box as="div" className={clsx(layoutStyles)}>
      <Box as="main" width={"fullLayout"} margin="auto">
        <Box
          as="div"
          paddingY={{
            mobile: "large",
            tablet: "extraLarge",
            desktop: "extraLarge",
          }}
        >
          <slot />
        </Box>
      </Box>
    </Box>
    <Box
      as="footer"
      backgroundColor="secondary"
      paddingX={{
        tablet: "extraLarge",
        mobile: "large",
      }}
      paddingY={{
        mobile: "medium",
        tablet: "large",
        desktop: "large",
      }}
    >
      <Box
        width="extraLarge"
        margin="auto"
        display={{
          mobile: "flex",
          tablet: "flex",
          desktop: "grid",
        }}
        flexDirection={{
          mobile: "column",
          tablet: "column",
        }}
        gridTemplateColumns={1}
        color="neutral"
      >
        <Box as={"div"}>
          <Typography variant="description">
            <h3>Get in touch</h3>
            <ul>
              <li>
                <a target="_blank" href="https://github.com/valerionarcisi"
                  >Github</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/in/cv-valerio-narcisi/"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a target="_blank" href="https://x.com/valerionarcisi">X</a>
              </li>
              <li>
                <a target="_blank" href="https://boxd.it/2mFff">Letterboxd</a>
              </li>
            </ul>
          </Typography>
        </Box>
        <Box as={"div"}>
          <Typography variant="description">
            <h3>
              This website is made from <a
                target="_blank"
                href="https://maps.app.goo.gl/U4QDSCMwis5KvoaY8"
                >"Le Marche Zozze"</a
              > by me.<br /> Copyright {currentYear}
            </h3>
            <Typography variant="small">
              This site uses no tracking or cookies, other than
              privacy-respecting, GDPR-compliant analytics via <a
                target="_blank"
                href="https://plausible.io/">Plausible</a
              >.
            </Typography>
          </Typography>
          <Box marginTop="large" />
          <Typography variant="small">
            Made with <a target="_blank" href="https://astro.build">Astro</a>, <a
              target="_blank"
              href="https://reactjs.org">React</a
            > and hosted on <a target="_blank" href="https://www.netlify.com"
              >Netlify</a
            >.
          </Typography>
        </Box>
      </Box>
    </Box>
  </Box>
</html>
